#ricky-and-morty * {
    margin: 0;
    padding: 0;
}

#ricky-and-morty *,
#ricky-and-morty *:before,
#ricky-and-morty *:after {
    box-sizing: inherit;
}


#ricky-and-morty .character-name {
    font-family: Patua One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;

    color: #535353;
}

#ricky-and-morty .character-value {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.045em;

    color: #666666;
}

#ricky-and-morty .borderless tr td {
    border: none !important;
    padding: 0px !important;
}

#ricky-and-morty .summer {
    position: absolute;
    width: 270px;
    height: 220px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px 0px 0px 5px;
}

#ricky-and-morty .pp{
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
#ricky-and-morty .rectangle-4 {
    min-height: 240px;
    background: #f6f6f6;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
}

#ricky-and-morty .rectangle-3 {
    /* width: 726px; */
    left: 34px;
    border-radius: 0px 0px 5px 5px;
    /* height: 280px; */
}

#ricky-and-morty .rectangle-3 img{
    border-radius: 5px 0 0 5px !important;
}

#ricky-and-morty input {
    border: 0;
    outline: 0;
    min-width: 100%;
    height: 44px;
    background-position: left;
    background-color: transparent;
    text-align: center;
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 1px 10px 1px 20px;
    font-size: 18px;

}

#ricky-and-morty .input {
    min-height: 30px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #cccccc;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
     color: #999999;
}

#ricky-and-morty .logo img{
    min-height: 100px;
    content: url(../images/logo.svg);
}

#ricky-and-morty.rectangle-2 {
    display: inline-block;
    background: #fafafa;
    border: 1px solid #ececec;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 6px;
    min-width: 100%
}

.frame-1 {
    min-width: 795px;
    min-height: 647px;
    background: #022135;
    position: relative;
    top: 0;
    bottom: 0;
    padding: 40px;
}

#ricky-and-morty table tr th {
    border-bottom-style: none;
    background: transparent !important;
}

#ricky-and-morty .borderless td, .borderless th {
    border: none !important;
}

#ricky-and-morty .borderless td, .borderless th {
    border: none;
}

#ricky-and-morty table tr th, table tr th a, table tr th a:hover, table tr th a:focus {
     color: unset !important;
    font-weight: unset !important;
}

#ricky-and-morty table tr th, #ricky-and-morty table tr td {
    border-bottom-style: none !important;
    background: #f6f6f6 !important;
}

#ricky-and-morty tr {
    padding: 0.1em 0.6em;
    border-bottom: unset !important;
    background: unset !important;
}

#ricky-and-morty table thead {
    font-family: 'Patua One', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #535353;
}

#ricky-and-morty{
    font-family: 'Roboto', sans-serif;
}

#ricky-and-morty table tbody{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.045em;
    color: #666666;
}
